
body{
    font-family: Azonix3;
    margin: 0px;
    background-color: #161616;
}
@font-face{
  font-family: Azonix;
  src: url("../fonts/The Amazing Spider-Man.ttf");
}
@font-face{
  font-family: Azonix3;
  src: url("../fonts/ReemKufi-Regular.ttf");
}



#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid black;
  border-radius: 50%;
  border-top: 3px solid white;
  width: 40px;
  height: 40px;
  animation: spin 0.3s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  animation-name: animatebottom;
  animation-duration: 1s
}


@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}





.icons{
float: right;
}
.topnav{
   background-color: black;
    position: sticky;
    height: 60px;
    top: 0;
    clear: none;
    z-index: 1;
}
#logo {
  font-family: Azonix;
  opacity: 1;
  font-size: 30px;
}
.topnav a{
    float: left;
    display: block;
    font-size: 18px;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    opacity: .6;
    transition: .3s ease;
}
.topnav a:hover{
opacity: 1;

}

.piccover img{
  width: 100%;


}

.search {
  background-color: black;
  float: right;
  height: 50px;
  border-radius: 50px;
}
.topnav input[type=text]{
  padding: 6px;
  margin-top:8px;
  font-size: 20px;
  background-color: black;
  color: white;
  border:none;
  border-radius: 50px;
  transition: all 0.3s;
}

.topnav .search button{
  border-radius: 50px;
  float: right;
  margin-top:8px;
  margin-right: 16px;
  font-size: 20px;
  padding: 6px 10px;
  background-color: black;
  color:white;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: .3s;

}
.search button:hover{
  opacity: 1;
}
.topnav input[type=text]:focus {outline:0;}
.search button:focus {outline:0;}



.imageparallex img{
    width: 100%;
    margin-top: -15px;
    background-color: black;
    opacity: 0.6;
    z-index: -55;
   
  
}
.textcover{
  position: absolute;
  font-family: Azonix;
  top:5%;
  left: 50%;
  color: white;
  font-size: 75px;
  opacity: 0.7;
}
#vd{
  margin-top: -400px;
  opacity: 1;
  position: relative;
  width: 100%;

}

.row{
  
  margin-left: 8%;
  margin-top:8%;
}
.column {
  overflow: hidden;
  float: left;
  padding: 50px;
  margin-top: -3%;
}
.card img{
  width: 250px;
  padding: 13.5px 15px;
  transition: .3s all ease-in-out;
}
.card:hover img{
    transform: scale(1.2) 
}
.card{
  overflow: hidden;
  height: 360px; 
  width: 280px; 
}
.row:after {
  content: "";
  display: table;
  clear: both;
  overflow: hidden;
}
.card {
  display: inline-block;
  vertical-align: middle;
  outline: solid 3px rgba(151, 130, 130, 0.801); 
  transition-duration: 0.3s;
  transition-property: outline;
  transition-timing-function: ease;
}
.card:hover, .card:focus, .card:active {
  outline: 6px solid #ffffff;
}
  .productsnames{
    margin-top: 8px;
    text-align: center;
}
.productsnames a{
   
    text-decoration: none;
    color:white;
    
  }
  .productsnames p{
      color: white;
      font-family: Azonix3;
      opacity: 0.8;
  }
  .productsnames p:hover {
      opacity: 1;
  }
#foot{
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
}
.footdetails{
 
  padding-left: 8%;
}
.footlists{
  
  float: left;
  padding: 30px;
  color: white;
}
.footlists h3{
  font-size: 16px;
  margin-bottom: 20px;
  opacity: .6;
}
.footlists p{
  
  padding: 4px;
  opacity: 0.5;
  transition: 0.3s ease;
  cursor: pointer;
}
.footlists p:hover{
  opacity: 1;
}

.conact{
  float: left;
  color: white;
  padding-top: 3%;
  padding-left: 10%;
}
.conacttitle{
  background-color:black;
  font-weight: bold;
  font-size: 16px;
  opacity: 0.6;
}
.socialmediaicons{
  background-color:black;
  font-size: 30px;
}
.socialmediaicons i{
  background-color:black;
  padding: 16px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.socialmediaicons i:hover{
  opacity: 1;
}

.email{
  background-color:black;
  float: left;
  margin-top: 2%;
}
.email p{
  background-color:black;
  opacity: 0.5;
  font-size: 14px;
}
.email input{
  background-color:black;
  font-size: 15px;
  width: 50vh;
  padding: 12px 14px;
  border: none;
  color: white;
  opacity: 0.5;
}
.button{
  float: right;
  margin-top: 2%;
}
.button a{
  border:1px solid white;
  padding: 12px 14px;
  color:white;
  text-decoration: none;
  font: 7px;
  opacity: 0.6;
  transition: .3s ease;
}
.button a:hover{
  background-color: white;
  color: black;
  border: 1px solid white;
  opacity: 1;
  
}
.apptitle{
  background-color:black;
  float: right;
  margin-right: 32%;
}

.apps{
  background-color:black;
  float: right;
  margin-right: 20%;
}
.apps i{
  background-color:black;
  padding: 16px;
  cursor: pointer;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
